@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --font-family-sans: 'Ubuntu', sans-serif;

    --size--2: clamp(0.6914rem, 0.6475rem + 0.2195vw, 0.8395rem);
    --size--1: clamp(0.7778rem, 0.7284rem + 0.2469vw, 0.9444rem);
    --size-0: clamp(0.875rem, 0.8194rem + 0.2778vw, 1.0625rem);
    --size-1: clamp(0.9844rem, 0.9219rem + 0.3125vw, 1.1953rem);
    --size-2: clamp(1.1074rem, 1.0371rem + 0.3516vw, 1.3447rem);
    --size-3: clamp(1.2458rem, 1.1667rem + 0.3955vw, 1.5128rem);
    --size-4: clamp(1.4016rem, 1.3126rem + 0.4449vw, 1.7019rem);
    --size-5: clamp(1.5768rem, 1.4767rem + 0.5006vw, 1.9147rem);

    --space-3xs: clamp(0.25rem, 0.25rem + 0cqi, 0.25rem);
    --space-2xs: clamp(0.4375rem, 0.4005rem + 0.1852cqi, 0.5625rem);
    --space-xs: clamp(0.6875rem, 0.6505rem + 0.1852cqi, 0.8125rem);
    --space-s: clamp(0.875rem, 0.8194rem + 0.2778cqi, 1.0625rem);
    --space-m: clamp(1.3125rem, 1.2199rem + 0.463cqi, 1.625rem);
    --space-l: clamp(1.75rem, 1.6389rem + 0.5556cqi, 2.125rem);
    --space-xl: clamp(2.625rem, 2.4583rem + 0.8333cqi, 3.1875rem);
    --space-2xl: clamp(3.5rem, 3.2778rem + 1.1111cqi, 4.25rem);
    --space-3xl: clamp(5.25rem, 4.9167rem + 1.6667cqi, 6.375rem);
}

h1,
h2,
h3 {
    font-optical-sizing: auto;
}

p:last-of-type {
    margin-bottom: 0;
}
